/* =================================================================
   MAIN STYLESHEET - IMPORTS ALL CSS FILES
================================================================= */

/* Import all CSS files */
@import url('main.css');
@import url('header.css');
@import url('footer.css');
@import url('forms.css');
@import url('components.css');
@import url('pages.css');
@import url('responsive.css');

/* You can also add any global overrides here */